html {
  font-size: 24px;
}

body {
  font: 1rem/1.3 monospace;
  margin: 0;
  padding: 30px;
}

a {
  color: #999;
}

body > *:first-child {
  margin-top: 0;
}

body > *:last-child {
  margin-bottom: 0;
}

h1 a[href]::after {
  color: #333;
  content: attr(href);
}

a.link-ref[href]::after {
  content: "";
  display: none;
}

#output {
  border: 1px dotted #ddd;
  color: #111;
  padding: 15px;
}

.success,
.pass {
  border-color: green;
  color: green;
}

.error,
.fail,
.failure {
  border-color: red;
  color: red;
}

img {
  display: block;
}

dt {
  color: #444;
  font-weight: bold;
}

dd {
  color: #777;
  margin: 0 0 1rem;
}

h2 {
  margin: 2.5rem 0 .625rem;
}

input[type="button"],
input[type="submit"],
button,
.button {
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}
